* {
margin: 0%;
padding: 0%;
}

#page-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(244, 192, 214, 1);
}

nav {
    
}

ul {
    width: 100%;
    position: fixed;
    background-color: rgba(244, 192, 214, 1);
    padding: 10px;
}

li {
    padding: 10px;
    font-size: 150%;
    display: inline;
}

a {
    color: rgba(88, 33, 57, 1);
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    width: 99%;
    height: 550px;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("sakura.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 5px;
}

.name {
    padding: 30px;  
}

img {
    width: 100%;
    opacity: 0.8;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 400%;
    color: rgba(47, 33, 34, 1);
}

h2 {
    font-family: 'Poppins', sans-serif;
    color:rgba(47, 33, 34, 1);
}

footer {
    color: rgba(47, 33, 34, 1);
    font-size: 120%;
    padding: 10px;

}